{namespace vibeo=Tx_Vibeo_ViewHelpers} 

<f:layout name="Default" />


<f:section name="main">

	<f:flashMessages />

	
		<div class="tx-vibeo-single-media-item">
			<f:render partial="Media/Properties" arguments="{media:media, settings:settings, extRelativePath:extRelativePath}" />
		</div>
		
		<script type="text/javascript">
			// This function will be called after player is initiated	
			if(typeof tx_vibeo_player_success_callback == 'undefined') {
				var tx_vibeo_player_success_callback = function (media, node, player) {}
			}
            <f:format.raw>$(function(){</f:format.raw>
                $('#tx-vibeo-media-{media.uid}').mediaelementplayer(
                    <f:format.html parseFuncTSPath="">{JSPlayerConfigurationString}</f:format.html>
                );
            <f:format.raw>});</f:format.raw>
		</script>

</f:section>
